.Cuadrado-container {
  overflow-x: hidden;
  background-color: #1fff;
  display: grid;
  padding: 10px 0;
  grid-gap: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}
