.Cuadrado-container {
  background-color: #1fff;
  /* width: 100%; */
  /* min-height: 300px;
  display: flex;
  flex-wrap: wrap; */
  
  
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
