.Cuadrado-tablero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  background-color: #1fff;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 700px) {
  .Cuadrado-tablero {
    grid-template-columns: repeat(2, 1fr);
  }
  .Cuadrado-tablero-colores {
    grid-column: 1 / -1;
  }
}

.Cuadrado-tablero-nivel,
.Cuadrado-tablero-puntaje {
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  align-items: center;
}

.Cuadrado-tablero-nivel span,
.Cuadrado-tablero-puntaje span{
  font-size: 4rem;
}